[submodule "src/driver/rosaria"]
	path = src/driver/rosaria
	url = https://github.com/isl2/rosaria.git
[submodule "src/driver/rplidar_ros"]
	path = src/driver/rplidar_ros
	url = https://github.com/isl2/rplidar_ros.git
[submodule "src/utils/pioneer_description"]
	path = src/utils/pioneer_description
	url = https://github.com/isl2/pioneer_description
[submodule "src/bringup/isl2_pioneer_bringup"]
	path = src/bringup/isl2_pioneer_bringup
	url = https://github.com/isl2/isl2_pioneer_bringup.git
[submodule "thirdparty/AriaCoda"]
	path = thirdparty/AriaCoda
	url = https://github.com/ISL2/AriaCoda
