[submodule "src/driver/rosaria"]
	path = src/driver/rosaria
	url = https://github.com/isl2/rosaria.git
[submodule "src/driver/rplidar_ros"]
	path = src/driver/rplidar_ros
	url = https://github.com/isl2/rplidar_ros.git
